<body class="flex h-full w-full flex-col bg-beige">
  <app-header [invoice]="invoice" (onAddItemEmitter)="onOpenForm()" />

  <main class="flex flex-1 items-center justify-center pt-[15%]">
    <app-table
      class="w-full px-10"
      [columns]="columns"
      [data]="invoice.items"
      (removeEmitter)="onRemove($event)"
      [total]="invoice.total"
    />
  </main>

  <app-footer [company]="invoice.company" />
</body>

<app-modal
  [isVisible]="isDeleteModalVisible"
  [title]="'Delete item'"
  [id]="idToDelete"
  [description]="'Are you sure you want to delete this item?'"
  [action]="'Delete'"
  (closeEmitter)="onCloseDelete()"
  (actionEmitter)="onDelete($event)"
/>

<app-modal
  [isVisible]="isFormVisible"
  [title]="'Create item'"
  [description]="'Complete the fields to create a item.'"
  (closeEmitter)="onCloseForm()"
>
  <app-form (createEmitter)="onCreate($event)"></app-form>
</app-modal>
