<body class="flex h-full w-full flex-col bg-beige">
  <app-header [invoice]="invoice" />

  <main class="flex flex-1 items-center justify-center">
    <app-table
      [columns]="columns"
      [data]="invoice.items"
      (removeEmitter)="onRemove($event)"
      [total]="invoice.total"
    />
  </main>

  <app-footer [company]="invoice.company" />
</body>

<app-modal
  [isVisible]="isModalVisible"
  [title]="'Delete item'"
  [id]="idToDelete"
  [description]="'Are you sure you want to delete this item?'"
  [action]="'Delete'"
  (closeEmitter)="onClose()"
  (actionEmitter)="onDelete($event)"
/>
