<form class="pb-5">
  <input
    name="product"
    type="text"
    placeholder="Product"
    class="mt-2 w-full rounded-md border border-gray p-2"
    [(ngModel)]="product"
  />
  <input
    name="price"
    type="number"
    placeholder="Price"
    class="mt-2 w-full rounded-md border border-gray p-2"
    [(ngModel)]="price"
  />
  <input
    name="quantity"
    type="number"
    placeholder="Quantity"
    class="mt-2 w-full rounded-md border border-gray p-2"
    [(ngModel)]="quantity"
  />
</form>
